@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.movie-detail-container {
  padding: 25px 40px 30px;

  header {
    font-size: $font-large;
    font-weight: 600;
    padding: 0 0 25px;
  }

  img {
    vertical-align: top;
    max-height: 300px;
    padding: 0 20px 20px 0;
  }

  .movie-basic-info {
    display: inline-block;
  }

  .movie-info {
    padding: 13px 10px;

    .label {
      display: inline-block;
      font-weight: 600;
      padding-right: 5px;
      padding-bottom: 5px;
    }
  }

  .movie-overview {
    font-size: $font-medium;
    padding-top: 30px;
  }
}
