@import "../../common/styles/mixins";

.homepage-container {
  width: 95%;
  margin: 20px auto;

  @include tablet {
    & {
      width: 70%;
      margin: 30px auto;
    }
  }
  @include desktop {
    & {
      width: 75%;
      margin: 50px auto;
    }
  }
}
