@import "../../common/styles/mixins";

.homepage-container {
  width: 100%;

  @include tablet {
    & {
      width: 1000%;
      margin: 0px auto;
    }
  }
  @include desktop {
    & {
      width: 100%;
      margin: 0px auto;
    }
  }

  .no-preferences {
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }
}
