@import "../../common/styles/variables";

$card_spacer: 20px;

.listcard-wrapper {
  width: auto;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 15px 15px 10px;
  header {
    justify-content: space-between;
    font-size: $font-large;
    font-weight: 600;
    color: $white;
    text-align: center;
  }
}

.movie-list {
  margin: 0;
  padding: 10px 0 5px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .movie-card {
    list-style: none;
    padding: 0 20px;
    display:inline-block;
  }
  figure {
    display: flex;
    flex-flow: column;
    max-width: 250px;
    margin: auto;
    height: 100%;
  }
  .movie-poster {
    width: 100%;
    height: auto;
  }
  .movie-figure {
    cursor: pointer;
  }
  .movie-title {
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: $font-medium;
    font-weight: 500;
    color: $white;
    background: $black;
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
