@import "../../common/styles/variables";

$card_spacer: 20px;

.listcard-wrapper {
  background: $card_background;
  width: auto;
  display: block;
  border-radius: 10px;
  margin: 10px 0 20px;
  padding: 15px 15px 10px;
  header {
    display: flex;
    justify-content: space-between;
    font-size: $font-large;
    font-weight: 600;
    color: $secondary;
  }
}

.movie-list {
  margin: 0;
  padding: 10px 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .movie-card {
    list-style: none;
    padding: $card_spacer;
  }
  figure {
    display: flex;
    flex-flow: column;
    max-width: 200px;
    margin: auto;
    height: 100%;
  }
  .movie-poster {
    width: 100%;
    height: auto;
  }
  .movie-title {
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: $font-medium;
    font-weight: 500;
    color: $white;
    background: $grey;
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
