$pagebackground: #ffffff;
$primary: #2e7e90;
$secondary: #245d9e;
$tertiary: #7b7e7d;
$grey: #808284;
$darkorange: #967878c7;
$white: #ffffff;
$black: #000000;
$card_background: #f7f5f5;

$font-default: 16px;
$font-medium: 20px;
$font-large: 26px;
