$pagebackground: #ffffff;
$primary: #2e7e90;
$secondary: #245d9e;
$tertiary: #7b7e7d;
$grey: #808284;
$lightgrey: #eeeeee;
$lightgrey2: #dddddd;
$darkorange: #967878c7;
$white: #ffffff;
$black: #000000;
$card_background: #f7f5f5;
$cyan: #b7cfe0;

$font-default: 16px;
$font-medium: 18px;
$font-large: 26px;

$login_btn_color: #4285f4;
